[2016-07-25 15:56] mrmlnc opened #2 "Delete snippets of CSS properties from plugin"
Hello, @robinbentley,

Starting with version 1.3 editor supports Emmet for Sass. It might be worth to remove snippets of CSS properties from plugin to not clog the autocompletion? That is, keep only snippets for language constructs.

For example:

![2016-07-25_18-55-40](https://cloud.githubusercontent.com/assets/7034281/17107790/68fc86ea-5299-11e6-8ae3-4a14c64a1085.gif)

[2016-07-25 16:00] robinbentley commented on #2
Thanks for the heads up on the Emmet change, I've been meaning to have a full review as there are a few more property changes/removals I need to make.

I'll look into it shortly

[2016-08-27 19:23] 256k commented on #2
im asking this here because i dont want to open a new issue since this seems somewhat related. i just installed vscode and installed the indented sass, but i find that the "atucompletion" is horrendeous... it's not contextual at all... it just opens up a list of words that would possibly fit what im writing.

I'm seeking to have a similar behaviour as i have on atom. as this is the only hurdle kee

[2016-08-27 19:34] mrmlnc commented on #2
@256k, If I understand correctly, you're talking about ToolTips property values. To do this, the extension author must write autocomplete provider using editor API's. For example: https://github.com/d4rkr00t/language-stylus/blob/master/src/completion-item-provider.ts

[2016-08-27 19:37] robinbentley commented on #2
Hi @256k,

The text is showing available snippets that could be used, it's not not meant to be autocomplete.

This was the best way to accommodate Emmet users at the time because it wasn't available for use in the indented syntax. It's literally the only reason I created it. As @mrmlnc has pointed out Emmet is now available so these snippets will be removed from the extension shortly to stop any f

[2016-08-27 19:39] robinbentley commented on #2
Thanks for that @mrmlnc I'll have a look at it later this evening

[2016-08-27 19:44] mrmlnc commented on #2
@robinbentley, I'll try to do autocomplete provider, but can't promise anything.

[2016-08-27 19:45] 256k commented on #2
@robinbentley thanks for the offer to clone and adjust, but i wouldn't even know where to start on writing my own extension. perhaps later down the line i'll make time to learn how.

@mrmlnc yeah i think that's what i'm talking about.... that link you shared though doesn't really explain much to me. but i appreciate it i'll try to delve deeper into this extensions world.

edit: @mrmlnc i get it no

[2016-08-27 19:49] mrmlnc commented on #2
@256k,

Maybe you provide any video/gif of your ideas? As I understand, you talk about this:

![2016-08-27_22-48-47](https://cloud.githubusercontent.com/assets/7034281/18029718/742e0dee-6ca8-11e6-83e6-e1f4fa10d58b.gif)

[2016-08-27 19:52] 256k commented on #2
@mrmlnc pretty much.
i'll try to grab the functionality in a gif from my atom editor to show.

[2016-08-27 21:33] 256k commented on #2
![sassdemo](https://cloud.githubusercontent.com/assets/16099871/18030214/48ee3e6e-6c7c-11e6-8143-7d1afb5dd3cb.gif)
@mrmlnc here it is.
i've tried a lot of different text editors and nothing had as good a autocomplete/suggestion box as atom.

[2016-08-28 01:18] robinbentley commented on #2
@mrmlnc @256k Got it working, just need to have a tidy up, test and then I can push it to the gallery. Will be available in a couple of days.

Ignore the sloppy typing, it's late

![gifrecord_2016-08-28_021554](https://cloud.githubusercontent.com/assets/2156395/18031020/96310154-6cc5-11e6-8d0f-1cc24ae37d6d.gif)

[2016-08-28 01:57] 256k commented on #2
Awesome! That's looking a lot better :)

[2016-09-02 18:08] robinbentley commented on #2
The updates are all available on the gallery now. Let me know how you get on with it.

[2016-09-02 18:08] #2 closed

[2016-09-21 05:58] NCC1701M opened #5 ""Format code" command remove all new lines of maps"
When calling the "Format code" on a scss file all new lines of a map are removed.

For example:
This is my map before formatting the code:
[code]

And this is it after formatting the code:
[code]

With large maps this will be nearly impossible to maintain.

vscode-sass-indented version: 1.1.0

VSCode version: 1.5.2

[2016-09-21 06:38] NCC1701M commented on #5
Sorry wrong extension

[2016-09-21 06:38] #5 closed

[2016-09-21 14:51] robinbentley commented on #5
Haha no problem, hope you get sorted

[2016-11-05 19:46] glen-84 opened #9 "Conflicts with sass-lint extension?"
Hi Robin,

It seems like your extension is conflicting with [mine](https://marketplace.visualstudio.com/items?itemName=glen-84.sass-lint):

**With your extension disabled:**

![sass-1](https://cloud.githubusercontent.com/assets/261509/20033059/b30bda94-a3a0-11e6-9889-9a9bf7fa72b2.png)

**With your extension enabled:**

![sass-2](https://cloud.githubusercontent.com/assets/261509/20033063/b796076a-a

[2016-11-05 20:06] robinbentley commented on #9
Hi Glen, Thanks for the heads up. Is there anything being output to 'Problems' when both extensions are running? Just did a quick check on my linux and macOS with no issues, I'll get onto my windows shortly and see if I find anything.

Judging by some of the issues on the VSCode repo 1.7.1 seems to have caused quite a few problems with a lot of extensions for windows users so it could be that I'm

[2016-11-05 20:45] glen-84 commented on #9
Nothing in `Problems` or extension output, but I do see this in the developer console:

[code]

[2016-11-05 23:09] robinbentley commented on #9
HI Glen,

Just did a fresh install of both extensions from the marketplace and tried them out on my windows. The only result was sass-lint crashing on launch with sass-indented disabled and even with it completely removed.

I get the info bar across the top and the output panel shows the following

[code]

sass-lint is installed and working via cmd

I'm not a windows user so if this is something c

[2016-11-06 09:23] glen-84 commented on #9
Which version of sass-lint are you using?

[2016-11-06 12:36] robinbentley commented on #9
0.0.3, it's in the screenshot

[2016-11-06 13:21] glen-84 commented on #9
I was referring to [sass-lint](https://www.npmjs.com/package/sass-lint), not the extension. =)

[2016-11-06 13:24] robinbentley commented on #9
haha sorry, it's 1.9.1

[2016-11-06 16:50] glen-84 commented on #9
I just played around with `1.9.1`, and I'm unable to reproduce that error. 😞

Are you using the built-in sass-lint configuration?

[2016-11-06 17:41] robinbentley commented on #9
Yep that was with the built in config. Just a straight install of both extensions from the marketplace and a fresh install of sass-lint `1.9.1` globally. I think it might have been something to do with me setting it up though because I have just tried again and both extensions are enabled and working completely.

![sass-lint-test-scss](https://cloud.githubusercontent.com/assets/2156395/20039897/9e

[2016-11-10 16:07] robinbentley commented on #9
@glen-84 Are you still seeing issues?

[2016-11-10 19:11] glen-84 commented on #9
I was using `1.8.2`, but I installed `1.9.1` to test as well (same issue).

I'm using `6.9.1`.

I was only hovering over the word `color`, to show that `Loading...` message.

The issue is still present when I re-enable your extension.

Maybe you need a larger test file or project? I'm really not sure what the difference is. 😕

[2016-11-11 13:44] robinbentley commented on #9
hmmm odd,  could you perhaps create a small repo/attach files that causes the issue that I could clone and try with? I have been been doing some of my work on windows this week and everything still looks to be working fine here.

[2016-11-16 08:54] yordis opened #10 "Map type ) expected"
Hey I created a map and for some reason I see: `) expected` and probably because of that I see the second error: `colon expected`

![screen shot 2016-11-16 at 3 51 57 am](https://cloud.githubusercontent.com/assets/4237280/20340600/527957ca-abb0-11e6-98e9-76527259dea5.png)

[2016-11-16 09:03] yordis opened #11 "Hover/Command+Hover broken for & selector"
Notice in the screenshot the selector said `undefined--auto`. Also I think because of this the example next to the selector is wrong as well should be `boa-container__column--auto`

![screen shot 2016-11-16 at 3 59 14 am](https://cloud.githubusercontent.com/assets/4237280/20340771/2e8c762a-abb1-11e6-8da0-151336d61f0b.png)

[2016-11-16 11:23] robinbentley commented on #10
Hi Yordis, this has nothing to do with this extension.

If you disable the extension you can still see the issue, also you're working with `.scss` and the extension is for `.sass` (the indented syntax) if you're looking to get better support for `.scss` you might want to have a look at [https://github.com/mrmlnc/vscode-scss](https://github.com/mrmlnc/vscode-scss)

[2016-11-16 11:29] robinbentley commented on #11
Please see my comment on #10

[2016-11-16 11:30] #10 closed

[2016-11-16 11:30] #11 closed

[2016-11-16 16:07] yordis commented on #10
@robinbentley sorry mate! I would never expect that :|

[2016-11-16 16:28] robinbentley commented on #10
No worries, hope you get to the bottom of it 👍

[2016-11-23 15:19] dotcs opened #12 "CSS deep selector breaks highlighting"
**Plugin version: 1.2.1**

The plugin seems to have problems with the [deep selector](https://www.html5rocks.com/en/tutorials/webcomponents/shadowdom-201/#toc-style-cat).

![image](https://cloud.githubusercontent.com/assets/3976183/20567233/482a8f94-b198-11e6-9095-6886d39a2027.png)

Although the compiled code is working, VSCode does not highlight the code correctly. Any ideas on that?

[2016-11-23 15:24] robinbentley commented on #12
Hi,

Your example is `.scss`, this extension is for the indented syntax, `.sass` files. Whilst we do access `.scss` files it's only to find variables for the autocomplete, the syntax highlighting from this extension will not be active for `.scss` files.

Sorry for any confusion, I am considering adding Indented back to the extension to avoid this. If you are looking for better `.scss` support I wo

[2016-11-24 08:11] dotcs commented on #12
Hi Robin,

Thanks for clarification! For me it wasn't quite clear which part is in charge of the syntax highlighting, since VSCode shows filetype sass which references to this plugin. I thought that this means that syntax highlighting is also done by this plugin. Sorry for my misunderstandings.

Unfortunately the plugin you mentioned doesn't solve the problems either. The syntax highlighting is st

[2016-11-24 08:11] #12 closed

[2016-12-02 22:08] cafreeman opened #13 "Global option for disabling autocomplete?"
I was wondering if there was a global config variable for turning off autocomplete with this addon? I only need it for the syntax highlighting and the autocomplete is causing some serious performance issues.

Is there a way to disable autocomplete without needing to put `.sassconfig` file in each project?

[2016-12-02 22:17] robinbentley commented on #13
Hi Chris,

There is nothing available at the moment but I can look at adding it.

Could you also give me a bit more information on the performance issues you are having. Platform, version and what is actually going wrong.

Thanks

[2016-12-02 23:06] cafreeman commented on #13
Hey!

I'm using:

VSCode v1.7.2
Sass-Indented v1.2.1
OS X El Capitan
15" MBP

Basically, I have some projects with highly modular sass (lots and lots of folders), and the add-on seems to be trying to watch all of the files constantly for autocomplete. As a result, every time I edit a stylesheet and hit `.` or `:` or anything else that might trigger autocomplete, the entire editor freezes for a few

[2016-12-02 23:16] robinbentley commented on #13
Great, thanks for the details, I'll look into it. The add on polls files for anything $ to allow for the completion of variables across a project, I personally haven't noticed any issues but my projects are usually only 30-40 individual files.

I'll put together a larger project and see what the deal is with the hangs. I'll also add a config option that can live in the user settings to disable aut

[2016-12-17 17:20] glen-84 commented on #9
Hey Robin,

I apologize for the delayed reply. I've been able to narrow this down a bit, and I've attached a folder that should allow you to reproduce the issue (on Windows, at least).

Strangely enough, if you disable *either* of our extensions, the issue disappears.

There must be a file or folder under `public/jspm_packages` that is causing the problem. If you want, I can try to narrow it down

[2016-12-19 03:39] robinbentley commented on #9
Thanks for that Glen! I'll have a look at it in the coming week and see if I can pick up on anything.

[2016-12-19 20:41] robinbentley commented on #9
@glen-84 I think I've worked out what was going on from that example.

When the extension is loaded it polls for files in the workspace that may contain variables to add them into the autocomplete, as it scans it looks like they are loaded and the built in `scss` validation is being triggered. On windows when you have a large number of files like in the `public` dir of the example it basically cho

[2016-12-19 20:49] robinbentley commented on #13
@cafreeman Hey Chris,

I have pushed an update to the extension gallery that has removed the global autocompletion for the time being. It's causing a lot of performance issues so it's better just gone whilst these can be resolved. Once I have had a chance to get it back in there cleanly I'll make sure there is a way that it can be disabled from config rather than having to use a sassconfig per pro

[2016-12-20 07:26] glen-84 commented on #9
Confirmed!

Thanks a lot for looking into this.

[2016-12-20 07:26] #9 closed

[2016-12-20 14:31] robinbentley commented on #9
@glen-84 No problem and thank you for helping me get to the bottom of it. Apologies for any issues you've had to deal with because of it

[2017-01-12 19:59] saintplay opened #14 "Feature request: Color Preview"
It would be awesome if you could view some color box preview, like the built-in .scss support of VSCode.

![image](https://cloud.githubusercontent.com/assets/9372893/21906065/c16db7a8-d8d7-11e6-8251-01657f3ebcf5.png)

[2017-01-13 13:07] robinbentley commented on #14
Hey Diego,

It's on my list of things to add, once I get some free time I'll look into it

[2017-01-18 10:45] ajsb85 opened #15 "Overwriting extension warning"
Hi @robinbentley

I get a warning message in the DevTools

`Overwriting extension <<.scss>> to now point to mime <<text/x-sass>>`

![image](https://cloud.githubusercontent.com/assets/663460/22061036/83a241fa-dd73-11e6-8c18-23d6e6563d6c.png)

[2017-01-19 09:26] robinbentley commented on #15
Thanks Alexander,

I'll have a look at what's coming in 1.9 and see what changes need to be made. Although I'm not seeing the message on linux or macOS installs of `1.9.0-insider`.

If the message stops as insider updates could you please just leave a comment, it might just be caused by a problem in the current build.

[2017-01-30 18:55] Ventajou commented on #13
@robinbentley I think the TypeScript Hero extension uses a cache of the TypeScript exports in the project for intellisense, and that cache is updated on file save. There's a status bar button to trigger reindexing the files. Maybe that's a technique you could use in your plugin?

I've been dreaming of project level intellisense on SASS variables for a long time, if you make it happen I'd be eterna

[2017-01-30 19:26] robinbentley commented on #13
@Ventajou Thanks, André. That sounds like a great idea. I'll look at how they have that implemented.

[2017-02-03 06:35] granoz opened #16 "Mixins colors in vscode 1.9.0"
Hello, after my vscode upgraded to 1.9.0  the operators before mixin names changed the color to expression operators color.

Example: `+mixin-name`  now  the + operator has the same color of a expression `width: 15 + 25em`
Can somebody else reproduce this?

Thank you for the extension, wouldn't be using vscode without it!

[2017-02-03 09:46] robinbentley commented on #16
@granoz Thanks for the report, Luiz. I can recreate what you have described.

I've had a quick look through the patch notes there isn't that jumps out as a cause. I'll have a better look when I'm home from work.

Glad it helps you!

[2017-02-04 11:05] robinbentley commented on #16
@granoz I've had closer look, this is a (non)issue with color themes.

With the theme I use normally [Voronianski Oceanic Next](https://marketplace.visualstudio.com/items?itemName=Alexander.theme-sublime-oceanicnext) you can see the mixin `+` is highlighted correctly, however, the built in Monokai shows the issue you described.

![oceanic](https://cloud.githubusercontent.com/assets/2156395/2261832

[2017-02-04 11:08] robinbentley commented on #15
@ajsb85 are you still seeing the message? even after the stable version has been updated to 1.9 I am still yet to have it happen.

[2017-02-04 21:45] lgrano commented on #16
You're right, i tested a few themes, its a theme based issue, my main theme is [1337](https://marketplace.visualstudio.com/items?itemName=ms-vscode.Theme-1337) and i'm on windows.  Some themes change the operator color when followed by a char or a string, some don't, but the color used to be the same as "string" and now its a "symbol" color (like @ or !).

[2017-02-08 16:52] robinbentley commented on #16
[https://code.visualstudio.com/blogs/2017/02/08/syntax-highlighting-optimizations#_finally-whats-new-in-vs-code-19](https://code.visualstudio.com/blogs/2017/02/08/syntax-highlighting-optimizations#_finally-whats-new-in-vs-code-19)

This will be why, the editor got some nice improvements to the way syntax highlighting works. I'm not going to change anything to account for this because technically i

[2017-02-08 16:53] #16 closed

[2017-02-09 16:49] ajsb85 commented on #15
Yes

---

- VSCode Version: Code - Insiders 1.10.0-insider (1c1f82e9722d2fafdbebb7524ac2cc465aafdfb4, 2017-02-09T11:45:48.163Z)
- OS Version: Windows_NT ia32 10.0.15031
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.2|
|jshint|dbaeumer|0.10.15|
|vscode-eslint|dbaeumer|1.2.5|
|xml|DotJoshJohnson|1.7.0|
|ghlink|dt|0.0.5|
|EditorConfig|EditorConfig|0.3.4|

[2017-02-24 09:22] asmolenic opened #17 "How does one get indentation to work ?"
Hello,

I've downloaded this VS Code extension purely because it states "indented" in its name but I can't seem to find a way to actually indent my SCSS files. If there is a way to format/indent the SCSS files I have not been able to find it.

Or maybe the "indented" part does not actually refer to auto-formatting ?

Thanks!

[2017-02-26 20:42] robinbentley commented on #17
Hi,

The extension has nothing to do with auto-formatting. It's purpose is to add syntax highlighting and basic completion support for the indented version of the Sass syntax. The first line of the readme clearly states...

I would suggest taking a few moments to look at the documentation for extensions before just installing them, authors spend time creating it to help users and to avoid any unne

[2017-02-26 20:43] #17 closed

[2017-02-27 19:16] asmolenic commented on #17
Hi, thanks for replying and sorry for misunderstanding what this extension actually does. I also have to mention that I've put at least a couple of hours into reading just about any piece of information about this extension I could find to clarify the "indented" term (which I personally think is a bit misleading).
Thank you again for your time!

[2017-02-27 20:27] robinbentley commented on #17
@asmolenic I'm sorry you feel the naming is misleading, however, this is unfortunately error on your part. Not fully understanding the basics of the language has lead to the confusion.

There is two versions of syntax for Sass, the original *indented* syntax used in `.sass` files and the CSS like syntax used in `.scss` files. The [Official Documentation](http://sass-lang.com/documentation/file.IND

[2017-03-08 10:30] WhoAteDaCake opened #18 "Highlighting of @param inside commented line"
Having the @param highlighted when describing the function in comments would help with readability.

/// Function
/// @param {String} does something
/// @param {String}  does something
/// @param {Variable}  does something
/// @return the something

[2017-03-15 15:15] aeschli opened #19 "Icon for *.scss file not showing"
_From @JimiC on March 14, 2017 15:2_

- VSCode Version: Code - Insiders 1.11.0-insider (dd197f19ddad6f8fa960c5f330fb7182c2321de3, 2017-03-13T07:11:52.101Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-icons|robertohuertasm|7.3.0|
|sass-indented|robinbentley|1.3.0|
---

Steps to Reproduce:

1. Create a `scss` file.
2. `scss` icon of `vscod

[2017-03-15 15:15] aeschli commented on #19
That's strange. The aliases are just used as labels to be shown to users. Why do you think this has an impact?

[2017-03-15 15:15] aeschli commented on #19
_From @JimiC on March 14, 2017 17:39_

@aeschli
Because when I change `Sass` to `Scss` in the built-in extension instead of one entry `Sass (scss)` in the languages mode, I get two, like `Sass (sass)` and `Scss (sass)`.

[2017-03-15 15:15] aeschli commented on #19
_From @JimiC on March 14, 2017 17:48_

Furthermore, when I install `sass-intended` the `Sass (scss)` entry in language mode turns to `Sass (sass)` without me changing the built-in extension.

[2017-03-15 15:15] aeschli commented on #19
The bug is that the published version of sass-indent [v1.3.0](https://github.com/robinbentley/vscode-sass-indented/blob/edc30526ce080c149b778fbdcead6b34bad3d6a8/package.json) makes the following file association:
[code]
which conflicts with the built-in extension scss extension that registers ".scss" with language "scss".
With the change(https://github.com/Microsoft/vscode/commit/96bbe8100efa66d25

[2017-03-15 15:21] robinbentley commented on #19
I removed the association in 3989934e2ad0a50f3589dbc315bf67bd41301508, I've obviously forgotten to publish this to the extension gallery 😰

Thanks for letting me know @aeschli, I'll publish this evening and hopefully that will curb the issue. Sorry!

[2017-03-16 09:06] robinbentley commented on #19
@jimic I've published the latest version. When you get a moment could you let me know if it solves the problem. Thanks!

[2017-03-16 09:07] JimiC commented on #19
@robinbentley I saw it 10 mins ago. Confirming problem solved.

[2017-03-16 09:08] #19 closed

[2017-03-16 12:22] robinbentley commented on #15
Should be fixed with 3989934e2ad0a50f3589dbc315bf67bd41301508 published to the extension gallery yesterday

[2017-03-16 14:00] ajsb85 commented on #15
Yes 👌

[2017-03-16 14:00] #15 closed

[2017-04-06 11:43] guoyunhe opened #20 "id selector highlighting problem"
![spectacle w20229](https://cloud.githubusercontent.com/assets/5836790/24752566/1d7337e4-1ad7-11e7-9f2d-287dbe930ff5.png)

The highlight of id selector is wrong when it contains `-` and follows a tag name:

[code]

[2017-04-06 16:06] robinbentley commented on #20
Thanks, Guo. I'll have a look into it

[2017-04-13 11:47] AlexTeixeira opened #21 "No sugestion for variable imported from other files"
Hello,

I'm currently storing all my "core" variables inside a common file.
When I try to acceed it from another file suggestion does not work.

Exemple :

**variables.scss**

`$white-color: #fff;
`

**core.scss**

[code]

[2017-04-20 12:22] robinbentley commented on #21
Hi @AlexTeixeira,

Sorry for the delayed response, have been busy.

At the moment you won't get suggestions across files, this was implemented in a previous version but had to be disabled because of performance issues. Once these have been worked out it will be re-implemented, I just haven't had a decent opportunity to look at it yet.

EDIT:

I just noticed you're using `.scss`, this extension onl

[2017-04-20 12:48] #21 closed

[2017-04-21 01:17] robinbentley commented on #20
9747b43139c7970e786330ce7600b0b63b2edf14 fixes this.

Will be available tomorrow when I publish, thank you for the report

[2017-04-21 01:22] robinbentley commented on #18
3ee17d521265f776c7c17edd5a677173e2b9ad32 adds highlighting for params within comment blocks

Will be available when I publish tomorrow.

[2017-04-22 00:53] #18 closed

[2017-04-22 00:53] #20 closed

[2017-05-16 04:15] ahmetb opened #22 "Link to github repo itself from README"
VSCode itself makes it impossible to navigate to this repo from plugin info screen. If you add link to the repo from README, it'd be helpful

![image](https://cloud.githubusercontent.com/assets/159209/26089551/9649fb4e-39b3-11e7-8d09-7698aa1424ef.png)

[2017-05-16 04:16] ahmetb opened #23 "Syntax highlighting bug"
it stops getting the pink color after a while:

![image](https://cloud.githubusercontent.com/assets/159209/26089560/af54d582-39b3-11e7-88ab-c9c0c80fb987.png)

content:

[code]

[2017-05-16 08:15] robinbentley commented on #23
Hi Ahmet, thanks for the report but the code example you have posted is `.scss`, this extension only contributes to the intended syntax (`.sass`  files).

This looks to be an issue with the built in `.scss` support, if you add the semis in the highlighting works as expected. I would [open an issue](https://github.com/Microsoft/vscode/issues) with the VSCode team so they can take a look.

<img widt

[2017-05-16 08:18] robinbentley commented on #22
Thanks for the suggestion, there is a link to create an issue a bit down the readme but I'll add a more predominant link so people can get here easier.

When the extension was created there was no in-app gallery and the site automatically created links to the main repo and issues so there was never a real reason to add them into the readme files.

[2017-05-17 21:47] #23 closed

[2017-05-23 12:31] GitLiamuk commented on #14
I too would love this feature, I thought it was Code glitching out at first. Hope you can get this sorted.

[2017-05-25 19:05] Kamilius opened #24 "Indicates CSS3 Grid properties, as "Uknown property""
Trying to use CSS3 Grid with Visual Studio Code and all of them are highlighted as "[scss] Unknown property".

Is there a way to add CSS3 Grid support?

[2017-05-25 19:08] robinbentley commented on #24
Hi Oleksandr,

Could you supply a code sample please. However, if you are getting specific `.scss` errors then it probably isn't related to this extension as it only contributes to `.sass` files

[2017-06-05 13:49] kazzkiq opened #26 "About .scss support"
Is there any reason as to why the project stopped with `.scss` support?

I remember using it sometime ago and the autocomplete was flawless, worked like a charm. But it seems that since `v1.3.1` the extension dropped support for SCSS without further details. Which is a shame for those who used it with this Sass format.

Since this is by far the best SASS/SCSS plugin I came across in VS Code, is th

[2017-06-05 14:16] robinbentley commented on #26
Hi Claudio,

Thank you for your comments!

The `.scss` support, that was actually a (happy?) accident caused by scanning `.scss` files for variables to add to the autocomplete. This extension was only ever intended to add support for the indented syntax (`.sass`) as VSCode doesn't support this out of the box. The unintentional "support" for `.scss` was dropped when the autocomplete was disabled.

[2017-06-05 19:37] kazzkiq commented on #26
The SCSS Intellisense plugin seems to do the trick for now. Thanks for your support, and great plugin! 😃

[2017-06-05 19:44] #26 closed

[2017-06-13 19:14] frani00 opened #27 "compile .sass files into .css"
I installed this extension, I think is working correctly, but when I have to compile the files only works with scss syntax and not the indented syntax.

As i am new with sass I wanted to know, how to use this extension correctly , if I need to install other things, or if I need to change the settings from some files.

[2017-06-15 11:50] robinbentley commented on #27
Hi,

This extension only adds support for syntax highlighting and snippets for `.sass` files because VSCode doesn't support them by default, it doesn't have anything to do with the compilation at all.

To compile the files you have to use `sass` on the command line or a build tool such as gulp, grunt or webpack, but could differ depending on what you're working with.

If you give me a some more in

[2017-06-15 11:52] robinbentley commented on #24
I'm going to close this because of the lack of information. I will re-open if/when this is supplied.

[2017-06-15 11:52] #24 closed

[2017-07-07 10:56] robinbentley commented on #27
I'm going to close this because of the lack of response. I will re-open if/when this is supplied.

[2017-07-07 10:56] #27 closed

[2017-07-12 17:16] sebazelonka commented on #24
Hi @robinbentley, I get the same error.

[code]
Here is an screenshot:
![screenshot 2017-07-12 17 09 52](https://user-images.githubusercontent.com/955591/28129971-ce28ae54-670b-11e7-9f5f-db025da5b071.png)

This is not a big deal, but is a regular property, so it will be good if you can fix this.

Thanks!
seba

[2017-07-12 17:25] robinbentley commented on #24
@sebazelonka  Hi Seba,

Thank you for the report but those messages are either from the built in `.scss` support or from sass-lint if you have that extension.

As you are using the Scss syntax my extension won't be active when editing `.scss` files, only `.sass`

[2017-07-12 17:28] sebazelonka commented on #24
Oh, sorry!
Thanks for your answer :)

[2017-09-21 20:27] psyked opened #29 "SCSS warnings with BEM syntax"
See this issue: https://github.com/sass/libsass/issues/1825 - SCSS selectors with `&--` display errors when they should be valid.

It sounds like this is fixed in the latest version of libsass / node-sass, but I assume this plugin is responsible for the code evaluation, and the version of libsass it uses is out of date? Can this plugin be updated to incorporate the latest version of libsass, or do

[2017-09-21 22:00] robinbentley commented on #29
Hi James,

The extension doesn't do any evaluation or have any interaction with node-sass, it's just the basic highlighting, property autocomplete and snippets.

Errors in the VSCode 'Problems' could be coming from another extension, such as sass-lint if that's present or errors during compilation will be a local/project version of node-sass.

[2017-09-24 21:01] psyked commented on #29
Thanks - I'll look into the other extensions in my setup then!

[2017-09-24 21:01] #29 closed

[2017-10-12 12:56] mugukamil opened #31 "Go to symbol doesnt work..."
![e1c6dd2201e436e39233b](https://user-images.githubusercontent.com/4193470/31496905-e01a97ec-af65-11e7-9382-25bf1407f80d.png)

[2017-10-12 13:00] robinbentley commented on #31
Hi Kamil,

This extension doesn't have symbol support at present

[2017-10-12 13:09] AllenGuan opened #32 "code block error"
code
[code]

vscode

<img width="300" alt="vscode-1" src="https://user-images.githubusercontent.com/14134195/31497358-7458a7de-af91-11e7-856f-429febaafe5a.png">
<img width="300" alt="vscode-2" src="https://user-images.githubusercontent.com/14134195/31497359-749784fe-af91-11e7-9fb9-1d216e273bdc.png">

sublime text

<img width="300" alt="sublime-text-1" src="https://user-images.githubusercontent.com

[2017-10-12 13:11] #31 closed

[2017-10-12 13:17] robinbentley commented on #32
Hi Allen,

I believe this is related to the September 2017 updates [here](https://code.visualstudio.com/updates/v1_17#_folding-in-offside-languages). I'll look into it

[2017-10-12 13:42] #32 closed

[2017-10-12 13:43] robinbentley commented on #32
Thanks Allen, update will be published this week.

[2017-10-12 21:25] #22 closed

[2017-11-27 12:42] ManuelSch commented on #14
Any updates on this? Would love to see this in any of the upcoming versions!

[2017-11-27 16:14] robinbentley commented on #14
@ManuelSch I still want to do it but still just haven't had the time. There is [Color Highlight](https://marketplace.visualstudio.com/items?itemName=naumovs.color-highlight) available that does all the standard formats (hsla, rgba, hex, etc) and will do Sass variables within the same file, I know that's not ideal but it's a stop gap. I've been using it and I would recommend it for anyone waiting f

[2017-11-28 11:28] ManuelSch commented on #14
Thanks for the recommendation, that plugin will do it for now  ;)

[2017-12-06 00:03] seriouz commented on #14
The "Color Highlight" plugin is nothing against, the one [build into vs code](https://code.visualstudio.com/updates/v1_16#_color-picker-in-html).
So i am waiting too for @robinbentley to implement a custom one for *.sass files.

Q: Would it be possible to use the new one from vscode and just add a trigger for sass files or something like that?

[![image](https://user-images.githubusercontent.com/4

[2017-12-19 20:34] safareli opened #34 "`\:root .foo` after comment is considered as comment"
in sass syntax:
<img width="130" alt="screenshot 2017-12-19 21 33 14" src="https://user-images.githubusercontent.com/1932383/34177547-473290b4-e504-11e7-9db9-7131e5bd2d9d.png">

[2017-12-23 14:48] #34 closed

[2018-01-19 20:03] mattwaler opened #35 "The * selector does not support syntax highlighting."
![screen shot 2018-01-19 at 3 03 40 pm](https://user-images.githubusercontent.com/32300026/35169265-f35d5e7c-fd29-11e7-8bbf-0dc53a7b2969.png)

[2018-01-22 09:34] Kcko opened #36 "Support for SCSS"
Is possible to modify this great extension for SCSS?
I think it would be enough to use a one-way converter from SASS to SCSS,it would be very helpful.

Thx for reply.

[2018-01-23 00:50] robinbentley commented on #36
Hi @Kcko,

I'm not sure I understand what you're asking? VSCode already has good support for SCSS out of the box.

If you could just clarify what you mean I will try and help you as best I can 👍

[2018-01-23 01:06] robinbentley commented on #35
Hi @mattwaler

Thanks for the report. Personally I don't feel this is really an issue but would be happy to accept a PR.

[2018-01-23 08:56] Kcko commented on #36
Hi @robinbentley , at first thx for fast reply.

My request was directed to create ur set of snippet in SASS lang to SCSS lang, because Im using SCSS snippets and ur extension is only for SASS.

I asked for this in VSC github repo , see https://github.com/Microsoft/vscode/issues/41929
If you did this for SCSS it would be great, if not, it does not matter.

I will probably migrate Sublime Text 3 sn

[2018-01-24 10:03] robinbentley commented on #36
Thanks for the clarification @Kcko!

Unfortunately, I've had clashes with the built in support in the past when I allow the extension to be active for `.scss` files so I'd prefer to keep it just to `.sass`. I will update the language support snippets though.

If one doesn't already exist I would suggest you to create a new extension to port those snippets over for `.scss`, if the built in support

[2018-01-24 10:22] Kcko commented on #36
@robinbentley Thx for link, I will try to create my first extension :) and then i wil you show you :)
in a few weeks, I have a lot of my own work now

Thx for discussion.

[2018-01-24 10:24] #36 closed

[2018-01-24 10:24] #35 closed

[2018-01-27 04:08] 3douhao opened #37 "why the auto indent of .sass does not work on my machine?"
I installed this extension on VS Code. However, auto indent of the .sass file does not work at all.
What is the reason?
Can anyone help?
Thanks.

[2018-01-30 00:02] robinbentley commented on #37
Hi,

Sorry, but could you be a bit more specific. Perhaps provide an example and I will try to help you out.

Thanks

[2018-02-08 17:12] cscomfort opened #38 "Auto-indent does not appear to work when defining selectors"
I just installed your plugin--thank you for building it, by the way--and when writing a new selector, auto-indentation does not appear to work when carriage returning to the next line to begin writing properties.

I'm on a Mac running VSC 1.19.2, and Sass 1.4.6. I can confirm that the correct file type association is set to Sass when working on .sass files (or in Vue components with Sass styling).

[2018-02-08 17:21] robinbentley commented on #38
Hi @cscomfort

Thanks for the report, I've got a feeling this is what #37 is referring to also.

You're not missing anything, it just doesn't do it!. I'll look into it when I get a chance this week. 👍

[2018-02-08 17:23] cscomfort commented on #38
Ahh, sorry, I missed that one--should have added to the existing issue. And thanks for the prompt response!

[2018-02-08 17:25] robinbentley commented on #38
@cscomfort no worries, this is more coherent and I'm still waiting on info to see if it is the same issue. The former will be closed in favour of this if that's the case.

[2018-02-16 00:13] #37 closed

[2018-02-16 00:13] #38 closed

[2018-03-02 09:19] aleshadk opened #39 "Add formatting to configuration"
Could you please add an indent behaviour to config?

The problem is:

.class<cursor is here>

I press TAB and:
.class {
   <cursor is here>}

I know that it depends on code style, but also there is another problem:
.class {

}<cursor is here>

I press ENTER and:

.class {

}
    <cursor is here> // One TAB before

[2018-03-02 10:06] robinbentley commented on #39
Hi,

Your example is SCSS. If you're working in a `.scss` file then this extension isn't actually active if you're working in a `.sass` file then you're using the wrong syntax.

Please could you clarify the example and I'll take another look.

[2018-03-02 10:14] aleshadk commented on #39
Actualy, I use https://github.com/jonathantneal/precss

With config in User Settings:

"files.associations": {
        "*.pcss": "Sass"
    },

It worked fine before [this commit](https://github.com/robinbentley/vscode-sass-indented/commit/310e0bca795fce570adb28440381f52b3a55ab6a)

[2018-03-02 10:29] robinbentley commented on #39
Cheers for getting back, try updating that association to Scss to use the VSCode built in support, as far as I am aware all their Scss support is under that language tag now. That should mean you will get all the syntax highlighting etc and the indentation will act as you would expect with the bracketed syntax.

[2018-03-02 10:36] aleshadk commented on #39
Yes, this works, but scss and sass have different syntax, e.g. for mixin, so error highilitings is incorrect

[2018-03-02 10:56] robinbentley commented on #39
That will be the difference in definitions between my language file and the VSCode one, I think the one included with this is more complete where the VSCode is mostly just from the CSS definitions.

Ideally the solution to this is create an extension that supports precss properly, by having to use the association you are at the mercy of that language and any changes that might come about, this cas

[2018-03-22 06:40] korenb opened #40 "Support for SCSS syntax"
I like scss style and would be grateful if you implemented that ability :)
or maybe it's already supported and i need just configure it, how?

[2018-03-26 20:04] jcrben commented on #40
From the readme:
`VSCode only has built in support for SCSS syntax so I have put this together for people who prefer to use the indented syntax.`

[2018-03-29 14:19] mattwaler opened #41 "* selector not properly highlighting"
![screen shot 2018-03-29 at 10 18 54 am](https://user-images.githubusercontent.com/32300026/38094012-99d142dc-333a-11e8-8fbb-7b9360322f3a.png)

[2018-03-29 14:26] robinbentley commented on #40
As @jcrben has pointed out. This extension is only for the indented version of the language. If you require SCSS VSCode does a really good job out of the box, there is also SCSS extensions available but I don't think they will be needed considering the built in support.

Also, my apologies for the late reply. I don't seem to be getting notifications for this repo anymore.

[2018-03-29 14:26] #40 closed

[2018-03-29 14:26] robinbentley commented on #41
Please refer to my closing comment on your previous issue #35

[2018-03-29 14:26] #41 closed

[2018-04-11 17:27] Korlic85 opened #43 "Autocomplete in .sass files is not showing automatically all suggestions for values for the property selected"
when I choose to work in a .sass file format, autocomplete works only for properties but not for values,  to show a suggestion for a value I have to start typing right after a property is selected.

there is a way to show automatically all the value suggestions for the specific property previously selected ?

[2018-04-11 22:14] robinbentley commented on #43
Hi @Korlic85

Not automatically, no. You can trigger the autocomplete menu by pressing `ctrl+space` when you have finished entering the property though. Bear in mind that whilst this will have the available values for the property it will also include all the sass functions (e.g. `percentage()`, `darken()` etc) too, as they can be used in that context and are part of the auto complete.

[2018-04-12 20:11] Korlic85 commented on #43
Very nice extension!,  thank you for your prompt response , one last question,  is there any chance in the near future to add this behaviour as an improvement ?

[2018-04-15 08:37] OrionPro opened #44 "emmet does not work in this extension ..."
here did prt sc http://prntscr.com/j5gnu3 (it is written no offers)
Ps If you open the extension of the stylus or scss (for example), the emmet works...

[2018-04-15 10:15] robinbentley commented on #44
Hi Alexandr,

Thanks for the screenshot, I'm sorry I don't understand cyrillic so I don't know if I am missing something from the things that are highlighted? Emmet is working without issue for me. Could you give me a bit more information please

![emmet](https://user-images.githubusercontent.com/2156395/38777301-9d213fe4-409d-11e8-88a3-355868df1084.gif)

**---- From Google Translate ----**
Спасиб

[2018-04-15 10:18] robinbentley commented on #43
Thank you. Perhaps, I don't really have a lot of time to work on this at present and there are features in the queue. I will consider it when I get a chance to start making updates again. Hope you can get by with the manual opening for now though 👍

[2018-04-15 12:06] OrionPro commented on #44
Hi Robin , I checked in more detail and found such a bug ... in one .sass file at the beginning of the code emmet does not work, and then emmet it starts working. I do not even know what it's all about. ( From Google Translate :)) PS in Cyrillic there it is written that:  "no offers"

[2018-04-15 12:37] OrionPro commented on #44
Robin, Most likely this is some kind of bug ... in other files with the extension sass, I checked and everything works there. Thanks for the help.

[2018-04-16 08:45] robinbentley commented on #44
No problem, sorry we haven't got anywhere with it! If you think it might be a bug with Emmet then it might be worth asking on the main VSCode repo, since this extension uses the built in Emmet.

I'm going to close this for now but if you have any other problems let me know. 👍

**---- From Google Translate ----**
Нет проблем, извините, у нас нигде нет! Если вы считаете, что это может быть ошибка с

[2018-04-16 08:45] #44 closed

[2018-06-06 13:36] mattez opened #45 "IntelliSense (autocomplete) variables and mixins from other .sass files (not only from files via @import)"
When I migrated to Bootstrap 4, I have to also migrate from LESS to SASS.
I was used to use this VSCode plugin [Less IntelliSense](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-less).
It can **autocomplete (IntelliSense) variables and mixins for all files in the workspace**. This plugin autocomplete variables only from files already @imported.

I'm really missing support for th

[2018-06-06 13:44] mattez commented on #13
@Ventajou this "project level intellisense" is already done for LESS.
[Less IntelliSense](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-less) Less IntelliSense (Variables and Mixins) for all files in the workspace. And It is really super most useful!!

I made a wish for this feature in this issue #45

[2018-06-07 10:35] mattez commented on #45
I just find out that @mrmlnc made module also for Sass (**SCSS** syntax only):
On GitHub: https://github.com/mrmlnc/vscode-scss
On VSCode Marketplace: https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-scss
For now I recommend use last (unpublished jet) version 7.0.0:
https://github.com/mrmlnc/vscode-scss/issues/49#issuecomment-308559385

[2018-06-11 07:21] robinbentley commented on #45
Hi @mattez,

Re-enabling project wide auto completion is on the todo list, however, I don't have an ETA for it as I don't have the time available for feature development right now. There was performance issues with large projects in the first iteration.

Although if `vscode-scss` is working for you then that would indicate you are working with `.scss` files? Have you switched your project to `.scs

[2018-06-14 11:06] mattez commented on #45
Hi @robinbentley,
thanks for you reply. I'm new in this SASS/SCSS world. You are right.
We just migrate form `.less` (Bootstrap 3) to `.scss` (Bootstrap 4).
Whoops..

[2018-06-15 11:45] robinbentley commented on #45
@mattez No Problem! It happens all the time because of the two syntax versions under the same language name.

I'm going to close this for now but if you do ever try the indented syntax and need any help feel free to give me a shout.

[2018-06-15 11:45] #45 closed

[2018-07-09 17:57] mlody1123 opened #46 "Autocomplete variables and classes"
Hello, before i start description my problem i tell then im a beginner sassy programmer.
So, is there an any options to autocomplete a variables from other file and classes from html file?
When i was trying to do this i have something like that
![variables](https://user-images.githubusercontent.com/15702769/42467351-f7e66de4-83b1-11e8-948e-eb19dc268774.png)
![classes](https://user-images.githubuse

[2018-07-23 14:10] OneJ12 opened #47 "watch sass button"
Issue Type: <b>Bug</b>

i can't find 'watch sass' button make scss to css.
 not in the bottom line. nowhere.

Extension version: 1.4.9
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3408)|
|GPU

[2018-07-23 14:40] mattwaler opened #48 "* selector not highlighting"

[2018-07-23 20:47] robinbentley commented on #46
Hi @mlody1123,

Firstly, sorry for the late response.

This extension doesn't currently support global autocompletion, the functionality is planned at some point but I couldn't give you an ETA I'm afraid.

[2018-07-23 20:47] #46 closed

[2018-07-23 20:52] robinbentley commented on #48
Please refer to my closing comment on your previous issue #41 which asks you to refer to my closing comment on your first issue #35

[2018-07-23 20:52] #48 closed

[2018-07-30 10:31] mittalyashu opened #49 "Indent the whole collapsed content"
Issue Type: <b>Bug</b>

Not able to indent after collapsing the content in SASS file.
https://youtu.be/Vb2QvgUAIzA

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:11.471Z)
OS version: Windows_NT ia32 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz (4 x 2295)|
|GPU Status|2d_canvas:

[2018-07-30 10:32] mittalyashu commented on #49
https://github.com/Microsoft/vscode/issues/55330

[2018-07-31 16:02] robinbentley commented on #49
Thanks @mittalyashu, I'll have a look into it

[2018-08-02 13:42] 7YZA1owXxM opened #50 "Suggestion: Change auto indent via vscode user settings"
Subj.
Need a setting option to change `action` in extension.js from `{ indentAction: vscode.IndentAction.Indent }` to `{}` or whatever. Auto indentations are a bit annoying, imho.
[code]

[2018-08-03 08:31] robinbentley commented on #50
I'll add a `disableAutoIndent` option for it whilst I'm working on #49

[2018-09-27 11:36] dhaval-igex opened #51 "Variable not suggest in sass file"
Hi
In sass file i can't get variables list. But in SCSS file work fine.

Please fix this issue in SASS.
![vscodeissue](https://user-images.githubusercontent.com/30318904/46143383-6703d000-c277-11e8-8d51-72ad419f8f70.png)

[2018-09-27 11:38] dhaval-igex opened #52 "Variable not display in SASS file"
Hi @Sass
In sass file i can't get variables list. But in SCSS file work fine.
i am using VS Code Editor.
Please fix this issue in SASS.
![vscodeissue](https://user-images.githubusercontent.com/30318904/46143527-e1cceb00-c277-11e8-8a12-3b924bdddec2.png)

[2018-09-27 12:16] #51 closed

[2018-10-04 09:53] robinbentley commented on #52
Hi @dhaval-igex

Project wide autocompletion isn't a feature this extension currently offers. The reason it works in SCSS is because that uses a different extension.

I do plan to bring the feature back but it's not completed yet.

[2018-10-04 09:53] #52 closed

[2018-10-04 09:56] robinbentley commented on #13
Going to close this off for now since it's almost 2 years old and not relevant to the current state of the project. The autocompletion is planned for a `2.0` early next year and this will be factored in for that.

[2018-10-04 09:56] #13 closed

[2018-11-16 14:36] ncodefun opened #53 "Bug with combined media queries"
First thanks for this extension !
I'm developing a theme and I hit a bug with the tokens when media queries are combined:

![2018-11-16](https://user-images.githubusercontent.com/35607086/48627324-46581c80-e982-11e8-8cd1-1e5fba7d7731.png)

When I inspect the tokens (inspect with TM scopes) I see that `@media screen` words are linked, so the repeating part without @media doesn't get the correct tok

[2018-12-19 18:27] alivefromsomewhere opened #54 "Enter messes indentation"
I made this video https://streamable.com/yt2is and it may be confusing so I'm gonna explain
if you press enter on the an empty line or a non indented line, it gets indented. I like to put an empty line between selectors with properties but I always have to delete indentation. ofc the first new line will be indented but why the second that's coming after an empty line?
also if you press backspace t

[2018-12-20 16:55] alivefromsomewhere commented on #54
![image](https://user-images.githubusercontent.com/36825810/50298827-fb955d00-0477-11e9-8cda-8e0ff4c8c909.png)
disable auto indent

[2018-12-21 09:17] robinbentley commented on #54
@alivefromsomewhere sorry I'm just getting to this now. It's a busy time of the year!

You shouldn't have to disable auto indent across the editor because of one extension misbehaving. I've been meaning to implement #50 which would help you and off the top of my head I have a quick solution to the problem you're having without having to disable at all. I'll try it and aim to publish this evening.

[2018-12-21 09:21] robinbentley commented on #53
@ncodefun

Hi Jośe, sorry it's taken me a while to get back to you.

I'll have a dig into the scopes and see what I can do 👍

[2018-12-24 01:30] #50 closed

[2018-12-24 01:30] #54 closed

[2018-12-24 01:32] robinbentley commented on #54
Added the config option to disable auto indentation for the extension as a start. I need a bit more time to fix the regex for indentation rules to really address this issue.

[2018-12-24 13:18] RusyiOleh opened #56 "Disable snippets"
Is there a way to disable snippets?
When I type, for example, h1 selector I need to type 'h1', then space (because if I hit Enter immediately autocomplete will turn it to height: 1), then snippets appear, so I can't press enter because it will insert the snippet. So to get to the next line and start type real styles I need to type 'h1', press space, remove space, and then click Enter, which is rea

[2018-12-24 14:08] robinbentley commented on #56
Adding `"emmet.showSuggestionsAsSnippets": true` to your `settings.json` and then disabling them for `sass` with...
[code]

_should_ take care of this whilst retaining the ability to expand emmet via tab if needed, presuming `"emmet.triggerExpansionOnTab": true`

I don't actually get the additional snippet pop up after hitting space (`@each` etc), I imagine this is probably a difference between ou

[2018-12-27 21:56] drewlustro commented on #31
Is there any extension for VSCode that provides indented Sass symbol lookup?

[2018-12-28 00:30] robinbentley commented on #31
@drewlustro not that I am aware of. iirc that’s going to involve implementing a language server and node-sass has been pretty funny about that in the past. Could be different now though, I haven’t looked in a while.

[2019-01-02 14:32] robinbentley commented on #56
Closing due to no response. Will re-open if needs be

[2019-01-02 14:32] #56 closed

[2019-01-02 16:54] RusyiOleh commented on #56
Hi, this helped,

"[sass]": {
        "editor.snippetSuggestions": "none",
   }

But without "emmet.showSuggestionsAsSnippets": true . With that setting my autocomplete on tab not working. So just "[sass]": {
        "editor.snippetSuggestions": "none",
   }

Thanks)

[2019-02-04 05:44] rolandgnm opened #57 "Autocomplete for @each based classes"
Hey guys, I was wondering if/how can I get full intellisense for classes created programatically, e.g. using `@each`, as follows:
[code]

When I try to get intellisense for these classes I only the statically declared ones, like any `*-auto` classes.

Thanks in advance!

[2019-02-05 09:30] robinbentley commented on #57
Hi Roland,

Unfortunately it's not possible at the moment, supporting auto complete on generated classes would require a language server and that in turn means a re-write of the extension. It's something I would like to do as it's quite dated now but just need to find the time.

I did attempt this a while back but it crashed and burnt because node-sass was being tricky, there as been plenty of new

[2019-02-06 05:14] rolandgnm commented on #57
Thanks @robinbentley, if I come out with any other solution I'll get back here and give my 2 cents.

[2019-02-11 12:55] robinbentley commented on #57
Sorry I couldn't be more help @rolandgnm, if you watch the repo you'll get notifications for any updates in the future. Hopefully that will be one!

[2019-02-11 12:55] #57 closed

[2019-02-11 12:59] robinbentley commented on #53
I think i'm going to switch the grammar over to Atom's version https://github.com/robinbentley/vscode-sass-indented/commit/24880c0622a554a432aaddd3f313fee2ca6f683f, this supports the combined media queries and presumably some other updates over the current tmLanguage definitions I'm using.

Just got to do some more checks that everything is supported as I would like. Will look to get this merged s

[2019-02-21 20:10] davidponces commented on #45
@robinbentley Any news on SASS autocomplete that you mentioned was in the works? Or if by any chance you know any other way to do it? Thanks

[2019-02-26 10:27] robinbentley commented on #45
Hi @davidponces,

I've had no time to work on anything substantial for the extension for a while, and between the day job and a new baby it's unlikely I will for the foreseeable future. I'm always open for discussion and review if anyone wants to have a crack at a PR for it though.

Unfortunately, other than switching to the curly syntax, I don't know of another way to get this going. You can watc

[2019-03-16 05:29] kolyaraketa opened #58 "Auto Indent doesn't working in .vue files"
Hello there!
.vue files have a section where autoindent does not work. The extension can not work with vue files?
[code]

[2019-03-17 07:09] #58 closed

[2019-03-20 13:11] EslamShams opened #59 "The Live Sass compiler dosen't work"
Issue Type: <b>Bug</b>

suddenly when i was working on project the live sass compiler stoped.
i try to reinstall it but i can't install it again

Extension version: 1.5.1
VS Code version: Code 1.32.3 (a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4, 2019-03-14T23:43:35.476Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) C

[2019-03-21 00:14] robinbentley commented on #59
Hi @EslamShams

This extension doesn't have anything to do with compilation, could you be thinking of [https://github.com/ritwickdey/vscode-live-sass-compiler](https://github.com/ritwickdey/vscode-live-sass-compiler)?

[2019-03-25 23:46] #59 closed

[2019-03-27 08:04] TotooriaHyperion opened #60 "Don't support @-moz-document"
![image](https://user-images.githubusercontent.com/16434801/55059448-f44ea280-50a9-11e9-903e-5ecbcc98e9d3.png)

[2019-03-27 11:26] robinbentley commented on #60
Hi @TotooriaHyperion

You're using SCSS syntax (`.scss` files), this extension is only active for the indented syntax (`.sass` files) You will need to open an issue on the main [VSCode repo](https://github.com/Microsoft/vscode/issues) as Scss support is built into the editor

[2019-03-27 11:26] #60 closed

[2019-04-12 19:05] TheRealSyler opened #61 "Units support"
i want to add unit support, im mostly finished but i ran into some problems.
i cant figure out where i can change when the suggestions get triggered.
is there a way of getting all commands that support units like margin, padding, etc. at the moment im checking an array of strings, that i created manually against the current word variable this works butt doesn't fix my problem because i don't know

[2019-06-01 09:28] #61 closed

[2019-06-18 21:03] #53 closed

[2019-07-16 21:08] #14 closed

[2019-07-16 21:08] #49 closed